<?xml version="1.0" encoding="UTF-8"?>

<launch>
	<!-- Record ublox/vpvt and icps topic excluding rviz topic -->
	<node pkg="rosbag" name="recordData_lidar_imu" type="record" output="screen" args="--output-prefix=/home/nsslab/Howon/ros/slam_ws/bag_files/lidar_imu_bag --split --size=102400  /an_device/Imu  horizontal_laser_3d  /an_device/body_acceleration /an_device/pose /an_device/NavSatFix "/>
</launch>

